@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Brootahh";
    src: url(../public/font/Brootahh-Regular.ttf);
}

@font-face {
    font-family: "Badaboom";
    src: url(../public/font/BADABB.ttf);
}
