@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Brootahh";
    src: url('https://ygqsjvznspdbkfggqpil.supabase.co/storage/v1/object/public/fanon/Brootahh-Regular.ttf?t=2024-02-05T21%3A27%3A59.852Z');
}

@font-face {
    font-family: "Badaboom";
    src: url('https://ygqsjvznspdbkfggqpil.supabase.co/storage/v1/object/public/fanon/BADABB.TTF?t=2024-02-05T21%3A27%3A13.069Z');
}

@font-face {
    font-family: 'SequentialistBB';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2') format('woff2'),
        url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'SequentialistBB';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff2') format('woff2'),
        url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
    font-style: italic;
    font-weight: 400;
}